<app-base-dialog title="Comprobante de Transferencia">
  <div class="comprobante-container">
    <ng-container *ngIf="!error; else mensajeError">
      <img [src]="imagenSegura" alt="Comprobante de transferencia" class="comprobante-img">
    </ng-container>
    <ng-template #mensajeError>
      <div class="error-container">
        <mat-icon>error_outline</mat-icon>
        <p>{{ error }}</p>
      </div>
    </ng-template>
  </div>
  <div dialog-actions>
    <button mat-button (click)="cerrar()">
      Cerrar
    </button>
  </div>
</app-base-dialog>
