:host ::ng-deep {
  .mat-mdc-cell.mat-column-acciones {
    width: 100px !important;
    padding: 0 8px !important;
    white-space: nowrap;

    button {
      margin: 0 2px !important;
      padding: 0 !important;
      min-width: 36px !important;
      width: 36px !important;
      height: 36px !important;
      line-height: 36px !important;
    }
  }
}

.mat-mdc-header-cell {
  text-align: center;
}

@media (max-width: 768px) {
  .mat-column-email {
    display: none;
  }
}
